@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A080C;
  --foreground: #F7F5F2;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0A080C;
}
::-webkit-scrollbar-thumb {
  background: #3E0515;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6E0C2B;
}